@charset "utf-8";

/* ���ﳵ��ʽ */

.car {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 353px;
	border: 1px solid #DCDCDC;
	background: #fff;
	z-index: 100;
	padding: 0;
	display: none;
}

.car dl {
	padding: 10px;
	border-bottom: 1px dashed #DCDCDC;
	font-size: 12px
}

.car dl h3 {
	font-weight: normal !important;
	font-size: 12px
}

.car dl dt {
	width: 80px;
	height: 80px;
	margin-bottom: 0
}

.car dl dd {
	margin-left: 15px;
	padding: 0px;
	float: left;
	line-height: 20px;
	overflow: hidden;
	text-align: left;
	width: 230px;
	color: #999;
	font-size: 12px;
}

.car dl dd em {
	width: 120px;
	margin-right: 80px;
	float: left;
	font-size: 12px
}

.car dl dd span {
	text-decoration: none;
	cursor: pointer;
	float: right;
	color: #0194FC;
	font-size: 12px !important
}

.car dl dd span:hover {
	color: #fd883b;
}

.car dl.gwc {
	border: 0;
	padding: 10px
}

.car dl.gwc dt {
	width: 210px;
	line-height: 30px;
	text-align: left;
	height: 30px;
	font-size: 12px !important;
}

.car dl.gwc dd {
	width: 90px;
	height: 30px;
	background: #fd883b;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Microsoft YaHei';
	margin-right: 0;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.car dl.gwc dd:hover {
	background: #e06210;
}

.car dl dd a {
	margin-left: 0
}

.car dl a {
	margin-left: 0 !important
}

.mainNav .nav li {
	position: relative;
}

.nav li .active {
	font-weight: normal !important;
}

.icon-car {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAANlBMVEUAAADzmCb85sn5zJL2sVv85cj97NbznjL+8uP3vnb72a3/+fH1q07737v4xYT0pUH60p/3uGkP/3JYAAAAAXRSTlMAQObYZgAAAT5JREFUWMPt1stuhDAMBVBf7DwgPP//Z5uwqSqCnZKqixFnORKeJNcx0Ov1+kCOmQd6LqLYPD3lcQqRnmKROVcYqQcDgbKufUTqkQs46jEDTD2OPzhFubYItXMAymEO9+x+jGmGRrwVg4PC6lYpMagrMLp1BFbSpDFXsGJQOb3AAmykWnIBu76+STFi8KTZgJ0UwbhO3voHMa4T64dk5zirbWDnmAAsRM9znHKBZPaJvsODVEk55TSUBey/Got5AEzMLCLhchfVHP0oUr+UU8NYXEs/1R2uaSz+LCAiK/PunKMW05mjz49wfkTZsJqjwc6x9+00L8OtlkNQrWQaoZGWICTgTpjoP0TmWP21MZ4JtbHhwvdVNARk4TqOi9j6xXftJpxcYy9mlXW1NukKVIb7juygJrtIJe5FhOl18QUR2gem/EAyaAAAAABJRU5ErkJggg==) no-repeat left -3px;
	padding-top: 5px;
	height: 22px;
	position: relative;
	top: -5px;
	left: 10px;
	width: 30px;
	float: left;
	background-size: 100%
}

.scroll_top {
	cursor: pointer;
	font-size: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: none;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.scroll_top:hover {
	color: #fff;
	text-decoration: none;
}

header {
	border-bottom: 1px solid #CCC;
	width: 100%;
	box-shadow: none !important;
	background: #FFF;
}

.public-top {
	width: 1000px;
	margin: 0px auto 0;
	height: 35px;
	line-height: 35px;
	position: relative;
	font-size: 12px !important;
}

.public-top .right a {
	margin-left: 35px;
	font-size: 12px;
	color: #343436 !important;
}

.public-top .right a:hover {
	color: #fd883b !important;
	text-decoration: none !important;
}

.public-top .clearfix a {
	margin-left: 0px !important;
}

.public-top i {
	margin-right: 5px;
}

.top-logo {
	height: 25px;
	float: left;
	margin-top: 5px
}

.top-logo img {
	display: inline-block;
	height: 25px;
}

.icon-eyes,
.icon-cart,
.icon-coll,
.icon-colled,
.icon-apk {
	display: inline-block;
	width: 15px;
	vertical-align: middle;
	height: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: -3px;
}

.icon-eyes {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAMAAACXmSduAAAAS1BMVEUAAAD9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDvGclxWAAAAGHRSTlMAGRAFJgpfRTzvfWxOLPXm4MG+m4xWMyE8SFU/AAAAYElEQVQI10VOVxaAMAiD7tbWPbj/SaXRp/kgjOQFAmyLzdKHIB3DO5lJJJyHyMgY9WSUvTIrQWkKU8Vh1epokUys3Qx5IN4cRRiw9j0zdyE9i3gl+ABbkL//H/lUk0F3Ay3bBmB7mqqqAAAAAElFTkSuQmCC)
}

.icon-cart {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAMAAADjyg5GAAAAUVBMVEUAAAD9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDsyH3+2AAAAGnRSTlMAOq3dUgnlNtjVun5YRyoSDPOjlYVwWzwuIiKISDQAAABWSURBVAjXTc1HDoAwEEPRIQlplIQOc/+DYin1LSz9lUldgTqL9tSL21A8H5qbHSlbvkjRMiLPWprgrunTlcgGAnVQL7CzEpw1lI1AxaTqwsqcN5lN2R/KOAeIIAIa3gAAAABJRU5ErkJggg==)
}

.icon-coll {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAV1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZkABlXAAAAAHHRSTlMABOIUjWJGHunFovPTvrZ+c2dQNisM18eXhVshDsAowQAAAHdJREFUCNdVjVkOgzAMRGeckJBAgbJ09f3PWcCNFN6HrTeSxzCYiZqg4eLSSK13QdsUIaERUdftsDGnBTOATy/Da4JXh8JX/X7bVq3H9ELrad//eMSZ9zCyvZp8OXNgIOLDlImzigYmc6fdzSE+O93Mh/Xcy57iB4XRA8xBB5RGAAAAAElFTkSuQmCC);
	cursor: pointer
}

.icon-coll:hover {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAYFBMVEUAAAD9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDt+NT3OAAAAH3RSTlMABOKNE2If6cXz0762pH5zZ0hENisZDNfHnpeFW1JOuMw3OQAAAHlJREFUCNdVjVkSwyAMQyVDIEmzNGv3+v63LIEyQ/Rh+WlGNpLYE6VmnU8slZR4FfgqA0l1cLruBw19vfAblncr3XOEUYsspyZ0fXH1mEYYif71j4dopkXSI70aTa5ZcCLcLSFrflR0Ch7ZanOx2O6N7pG3bo2+hBQ/rGkEOkad26oAAAAASUVORK5CYII=)
}

.icon-coll:active,
.icon-colled {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAXVBMVEUAAADgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhDgYhCsXptZAAAAHnRSTlMA4gMFjWQTRh/p1cXzvqR+XVA2KxkMx7e1npeFdHPHiuumAAAAeklEQVQI11WNWRKDMAxDZTtkIZSd7vX9j9k0IVPQj/3skYQi7hlHOXUnppGO2BBCU0GY1cPrsv1o6OPMU1rGlm7PN4xaVHk1yRv+qTnDUOnm8NrPQx6mRdGjVH1MtVmIE/j9L1EmJXUSS47V7mKxXjvdMq/3Jc85XfEFnrMEMZxPkK4AAAAASUVORK5CYII=)
}

.icon-apk {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAaVBMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlWst2SAAAAInRSTlMABJR5E9ohGQzo9DDijnRqVSvuuYZAOhDMophfKc/Ow49N7U7J7wAAAJtJREFUCNdNjdcKwzAQBPfUbbn3lrb//5GRDIHsyzBwx2DWSikd0TeZM1gqrViiotLvgaAH4ArYmGiSB0dvLB7e8ArJVznFV7AOp2TvBNKm+yaxI57MO1DffOF/IsDc1HXdRFxa9+kBtO2nLVJ/HImeoIHc/WDKX9+tFpv3HIfcR4/U3yKWtnOgNmKmAWWUKSwT9oJkobGbwOXgFw6FC3CrylpCAAAAAElFTkSuQmCC)
}

.icon-apk:hover {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAb1BMVEUAAAD9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDv9iDurf88bAAAAJHRSTlMABBJ5ldoZ6Cvizo50ah8K8+6ShlVAOjEvDvW6ol9NJMO3jyIGHlbjAAAAoUlEQVQI102NRxLDMAwDQVGWFduSe28p/P8bQzuX4ILZIQeLnq21PMIXtrHcQ5aGG6nwEMvvWiAOwJkimbSNchnFmQSZM+JLZUM7uQeSiJ0u7ggU9L/QPgSZXLHI737iP0RAX+R5XkzwzBOogyThCKn611Xgr30Qou7NZvn5T4m338mrvu8e6s9GDKH7QNiQaWtUI7Xz0GJLVZsyNjPLYOULeYEMM6y2YLgAAAAASUVORK5CYII=)
}

.icon-radio-tit {
	display: block;
	width: 19px;
	height: 19px;
	position: absolute;
	top: 0;
	z-index: 99;
	left: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAYFBMVEUAAAD/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/Zmb/ZmYV5uK0AAAAH3RSTlMACgIFloAS+K0O79i/OeTKtKabj455dXNmXkEwJx8YxhgTXQAAAG1JREFUGNNlzEsSgyAQANEeJmBINP9/VO5/Sy2tUhh7+RbNnFOREKKIqgPk5+sqZTXEZPpDU0rVAt+SOoBnTocegEdOgandSqfI3H6ho2BtJGtnBSh+tWLt4rB2LQg/0s1h7W6Id/LYPi82hS0N6y0SlIZ83TcAAAAASUVORK5CYII=) no-repeat -1px -1px
}

.icon-li {
	background: url(../../images/li.png) no-repeat 0 0;
	background-size: 100%;
	display: inline-block;
	width: 15px;
	vertical-align: middle;
	height: 15px;
	margin-top: -3px;
}

a:hover {
	text-decoration: none;
}